<header>
  <h1 class="site-title"><a href="/">{{ site.name }}</a></h1>
  <nav class="main-nav">
    <a href="#" class="opener show-on-mobiles">...</a>
    <div class="clear-opener show-on-mobiles"></div>
    <div class="grid">
      <ul>
        <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
        <li><a href="/about.html"><i class="fa fa-info-circle"></i>My Story</a></li>
        <li><a href="/photo-stream/"><i class="fa fa-info-circle"></i>Photo Stream</a></li>
        <li><a href="/public-speaking.html"><i class="fa fa-info-circle"></i>Public Speaking</a></li>
        <li><a href="/the-story-of-casey.html"><i class="fa fa-info-circle"></i>Our Dog Casey</a></li>
      </ul>
    </div>
  </nav>


{% if page.quickgrapher == true %}
  <script type="text/javascript" src="http://www.hunterdavis.com/quickgrapher/js/jquery-1.4.4.min.js"></script>
  <script type="text/javascript" src="http://www.hunterdavis.com/quickgrapher/js/jquery-ui-1.8.9.custom.min.js"></script>
  <script type="text/javascript" src="http://www.hunterdavis.com/quickgrapher/js/modernizr-1.6.min.js"></script>
  <script src="http://www.hunterdavis.com/quickgrapher/js/obfs_embed.js" type="text/javascript" charset="utf-8"></script>
 {% endif %}

 {% if page.cardsimulator == true %}
  <script type="text/javascript" src="http://www.hunterdavis.com/deck-of-cards/simulators/deck.js"></script>
  <script type="text/javascript" src="http://www.hunterdavis.com/deck-of-cards/simulators/simulator.js"></script>
 {% endif %}
</header>

