{% assign archive_years = site.posts | group_by_exp: "p", "p.date | date: '%Y'" %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "CollectionPage",
  "name": {{ page.title | jsonify }},
  "url": {{ page.url | absolute_url | jsonify }},
  "isPartOf": {
    "@type": "WebSite",
    "name": {{ site.name | jsonify }},
    "url": {{ '/' | absolute_url | jsonify }}
  },
  "mainEntity": {
    "@type": "ItemList",
    "numberOfItems": {{ archive_years.size }},
    "itemListElement": [{% for yr in archive_years %}
      {
        "@type": "ListItem",
        "position": {{ forloop.index }},
        "url": {{ '/archive/' | append: yr.name | append: '/' | absolute_url | jsonify }},
        "name": {{ yr.name | jsonify }}
      }{% unless forloop.last %},{% endunless %}{% endfor %}
    ]
  }
}
</script>
