<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": {{ site.author | default: "Hunter Davis" | jsonify }},
  "url": {{ '/' | absolute_url | jsonify }},
  "sameAs": [
    {% if site.links.github %}{{ "https://github.com/" | append: site.links.github | jsonify }}{% if site.links.linkedin or site.links.hackernews %},{% endif %}
    {% endif %}{% if site.links.linkedin %}{{ site.links.linkedin | jsonify }}{% if site.links.hackernews %},{% endif %}
    {% endif %}{% if site.links.hackernews %}{{ site.links.hackernews | jsonify }}{% endif %}
  ]
}
</script>
