<div class="grid">
	<div class="unit whole about">
		<p>
			{% if site.about_image %}
				<img src="/img/{{ site.about_image }}" alt="Avatar">
			{% elsif site.links.github %}
				<img src="https://github.com/{{ site.links.github }}.png" alt="Avatar">
			{% else %}
				<img src="/img/placeholder.jpg" alt="Avatar">
			{% endif %}
		</p>
		<ul class="links">
			{% if site.links.github %}
				<li><a href="https://github.com/{{ site.links.github }}" target="_blank" rel="noopener">Github</a></li>
			{% endif %}
			{% if site.links.email %}
				<li><a href="mailto:{{ site.links.email }}">Contact Me</a></li>
			{% endif %}
			<li><a href='/feed.xml' rel='alternate' type='application/rss+xml'>RSS</a></li>
			{% if site.links.twitter %}
				<li><a href="https://twitter.com/{{ site.links.twitter }}" target="_blank" rel="noopener">Twitter</a></li>
			{% endif %}
			{% if site.links.facebook %}
				<li><a href="https://www.facebook.com/{{ site.links.facebook }}" target="_blank" rel="noopener">Facebook</a></li>
			{% endif %}
			{% assign groups = site.data.sidebar.projects | group_by: "group" %}
			{% for g in groups %}
				<li class="group-heading">{{ g.name }}</li>
				{% for project in g.items %}
					<li><a href="{{ project.url }}" target="_blank" rel="noopener">{{ project.label }}</a></li>
				{% endfor %}
			{% endfor %}
		</ul>

	</div>
	{% if site.data.tags %}
	<div class="unit whole topic-cloud">
		<h4>Tags</h4>
		<ul>
			{% for pair in site.data.tags limit: 30 %}<li><a href="/tags/{{ pair[0] }}/">{{ pair[0] }} <span class="count">{{ pair[1] }}</span></a></li>
			{% endfor %}
		</ul>
		<p class="more"><a href="/tags/">All tags &rarr;</a></p>
	</div>
	{% endif %}
</div>
