---
layout: default
---
{% include jsonld_post.html %}
<div id="home" class="grid post">
<div class="unit whole">
<article>
	<header>
		<h1>{{ page.title }}</h1>
		<p class="meta">
			<time class="timeago postlist-meta" datetime="{{ page.date | date: "%Y-%m-%d" }}"><i class="fa fa-calendar"></i>{{ page.date | date: "%B %-d, %Y" }}</time>
			{% assign reading_time = content | strip_html | number_of_words | divided_by: 225 | plus: 1 %}
			<span class="reading-time" title="Estimated reading time at 225 words/minute">~{{ reading_time }} min read</span>
			<a class="sharer facebook" href="#" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+window.location.href,'_blank','height=300,width=600');return false;"><i class="fa fa-facebook"></i></a>
			{% if site.twitter %}
				<a class="sharer twitter" href="#" target="_blank" onclick="window.open('https://twitter.com/share?url='+window.location.href+'&via={{ site.twitter }}','_blank','height=300,width=600');return false;"><i class="fa fa-twitter"></i></a>
			{% else %}
				<a class="sharer twitter" href="#" target="_blank" onclick="window.open('https://twitter.com/share?url='+window.location.href,'_blank','height=300,width=600');return false;"><i class="fa fa-twitter"></i></a>
			{% endif %}
		</p>
	</header>
		<img src="{{ page.image }}" >
	<section>
		{% if page.tags and page.tags.size > 0 %}
			<div class="tags">
				Tagged:
				{% for tag in page.tags %}
				<span><i class="fa fa-tag"></i>{{ tag }}</span>
				{% endfor %}
			</div>
		{% endif %}
		{{ content }}
		{% if page.cardsimulator == true %}
		<div id="simulator"></div>
    	{% endif %}
	</section>

</article>
{% if page.previous or page.next %}
<nav class="post-nav" aria-label="Adjacent posts">
	{% if page.previous %}
	<a class="prev" rel="prev" href="{{ page.previous.url }}"><span class="post-nav-label">Previous</span><span class="post-nav-title">{{ page.previous.title | escape }}</span></a>
	{% endif %}
	{% if page.next %}
	<a class="next" rel="next" href="{{ page.next.url }}"><span class="post-nav-label">Next</span><span class="post-nav-title">{{ page.next.title | escape }}</span></a>
	{% endif %}
</nav>
{% endif %}
{% assign current_year = page.date | date: "%Y" %}
{% capture same_year_html %}{% assign shown = 0 %}{% for p in site.posts %}{% if p.url == page.url %}{% continue %}{% endif %}{% assign py = p.date | date: "%Y" %}{% if py == current_year %}<li><a href="{{ p.url }}">{{ p.title | escape }}</a></li>{% assign shown = shown | plus: 1 %}{% if shown >= 5 %}{% break %}{% endif %}{% endif %}{% endfor %}{% endcapture %}
{% if same_year_html contains "<li>" %}
<aside class="same-year" aria-label="More posts from this year">
	<h3>More from {{ current_year }}</h3>
	<ul>{{ same_year_html }}</ul>
</aside>
{% endif %}
</div>
</div>
